mixin character(ctx)
    - const { name, icon, level, fetter } = ctx
    div(class="character")
        img.character__avatar(src=icon)
        .character__desc
            .name #{name}
            .level Lv.#{level}
            .fetter 好感#{fetter}

mixin userInfo(ctx)
    - const { role, stats } = ctx
    div(class="user")
        .user__basic
            .nickname 昵称 #{role.nickname}
            .level Lv. #{role.level}
        .user__stats
            each item in stats
                if item.label
                    div
                        span #{item.label}
                        span #{item.value}


doctype html
html
    head
        link(rel="stylesheet", href="styles/common.css")
        link(rel="stylesheet", href="styles/profile.css")
    body
        .profile
            .profile__title 玩家 #{uid}

            .profile__section
                .title 基本数据
                .content
                    +userInfo({ role, stats })
            
            .profile__section
                .title 角色列表
                .content.content--list
                    each item in avatars
                        +character(item)
